@page "/home"
@attribute [Authorize(Roles = "User")]
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Shared.Models;
@using TicketHive.Shared;
@inject IUserRepo userRepo;
@inject IEventRepo eventRepo;
@inject IBookingRepo bookingRepo;
@inject ICurrencyRepo currencyRepo;
@inject IShoppingcartRepo shoppingcartRepo;
@inject AuthenticationStateProvider authProvider

<PageTitle>Home</PageTitle>

@if (eventDbUser != null && eventDbUser.Bookings.Count > 0)
{
    <header>
        <h1 class="text-center">Welcome to TicketHive</h1>
        <h4 style="text-align:center;">Here is your bookings:</h4>
    </header>
    <div class="row row-cols-3 row-cols-md-3 g-4" id="div-display">
        @foreach (var e in eventDbUser.Bookings)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img id="img" style="max-width: 300px" src="/Images/@e.EventModel.Image" class="card-img-top" alt="...">
                        <h5 class="card-title" style="margin-top: 20px;">@e.EventModel.EventName</h5>
                        <p class="card-text"></p>
                        <a href="/event/@e.EventModel.Id" class="btn btn-primary card-btn">Go to event</a>
                    </div>
                </div>
            </div>

        }
    </div>
}
@if (eventDbUser != null && eventDbUser.Bookings.Count == 0)
{
    <header>
        <h1 class="text-center">Welcome to TicketHive</h1>
        <h4>You have no bookings, check out these events:</h4>
    </header>

      <div class="row row-cols-2 row-cols-md-2 g-4">
            @foreach (var e in allEvents)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <img src="/Images/@e.Image" class="card-img-top" alt="...">
                            <h5 class="card-title" style="margin-top: 20px;">@e.EventName</h5>
                            <a href="/event/@e.Id" class="btn btn-primary card-btn">Go to event</a>
                        </div>
                    </div>
                </div>

            }
        </div>
   
}

@code {
    private UserModel? eventDbUser;
    List<BookingModel>? Bookings;
    private List<EventModel>? allEvents;

    protected override async Task OnInitializedAsync()
    {
        await shoppingcartRepo.CreateCart();

        UserModel? user = await userRepo.GetLoggedInUser();

        if (user != null)
        {
            eventDbUser = user;
            Bookings = eventDbUser.Bookings;
            await userRepo.SetUserCurrency();
        }

        allEvents = await eventRepo.GetAllEvents();

    }

    }


<style>
    #img{
        text-align:center;
        justify-content:center;
    }
    #div-display{
        display:flex;
        justify-content:center;
        align-items:center;

    }

</style>