@page "/"
@using TicketHive.Shared.Models;

<PageTitle>Welcome</PageTitle>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class="col">
            <h1>Welcome to Ticket Hive</h1>
            <p class="lead">Your one-stop shop for booking events of all kinds!</p>
        </div>
    </div>
    <hr />
    <div class="row text-center row-cols-4 row-cols-md-4 g-4 justify-content-center d-flex flex-wrap">
        <div class="col-12 col-xl-3">
            <img id="img-logo" src="/Images/image 5.png" class="img-fluid" alt="Ticket Hive">
        </div>
        <div class="col-12 col-xl-3">
            <img id="img-logo" src="/Images/image 21.png" class="img-fluid" alt="Ticket Hive">
        </div>
        <div class="col-12 col-xl-3">
            <img id="img-logo" src="/Images/image 8.png" class="img-fluid" alt="Ticket Hive">
        </div>
        <div class="col-12 col-xl-3">
            <img id="img-logo" src="/Images/image 19.png" class="img-fluid" alt="Ticket Hive">
        </div>
    </div>
    <hr />
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <p>Whether you're looking for concert tickets, sports games, theater performances, or any other type of live entertainment, we've got you covered.</p>
            <p>Our platform offers a wide range of events to choose from, so you can easily find the perfect one that suits your preferences and interests. With a user-friendly interface and seamless booking process, purchasing tickets has never been easier or more convenient.</p>
            <p>At Ticket Hive, we pride ourselves on providing a hassle-free experience for our customers. We understand that planning an outing can be stressful, which is why we strive to make the booking process as smooth as possible. From selecting your seats to making secure payments, we're here to help you every step of the way.</p>
            <p>So why wait? Browse our selection of events today and start planning your next outing with Ticket Hive. We look forward to serving you and helping you make unforgettable memories!</p>
        </div>
    </div>
</div>




<style>
    body {
        background-color: #fbe89c;
    }

    #img-logo {
        max-width: 300px;
    }

    .img-fluid {
        border-radius: 20px;
        border-color: black;
    }
</style>